# eclipse project files and the like
/.project
/.settings/
/.pydevproject
/.idea/

# font files
/IPAexfont00301/
/SourceHanSerifJP/
/SourceHanSansJP/

# pyc files and the like
*.pyc
*.pyo

# databases
*.sqlite3

# log files
*.log
*.log.*

# other resources
/sqlite/sqlite-dbs/ChinookDatabase1.4_CompleteVersion/
