# eclipse project files and the like
/.project
/.settings/
/.pydevproject
/.idea/

# font files
/IPAexfont00301/
/SourceHanSerifJP/
/SourceHanSansJP/

# databases
*.sqlite3

# other resources
/sqlite/sqlite-dbs/ChinookDatabase1.4_CompleteVersion/
