.tht-text{
	font-weight:bold;
	color:#191970;
}

.tht-result{
	font-size:x-large;
	font-weight:bold;
	color:#3355FF;
}

#restwbtn{
	font-size:large;
	font-weight:normal;
	color:#333333;
}

.smallf{
	font-size:x-small;
}

.label{
	font-weight:bold;
}
